<h3 class="sub-title" data-i18n="patent_heading">专利与软著</h3>
<ul class="patent-list">
  <li class="patent-item">
    <div class="patent-main">
      <div class="patent-title">基于训练场景的大模型安全风险评价方法及装置</div>
      <div class="patent-inv"><span data-i18n="pat_inv_label">发明人：</span>高莹，朱祖坤，邓煌昊，陈晓峰，谢雨欣，吕继强</div>
      <div class="patent-no"><span data-i18n="pat_no_label">专利号</span> CN119312334B ｜ 2025.10.10</div>
    </div>
    <div class="patent-status status-granted" data-i18n="status_granted">已授权</div>
  </li>
  <li class="patent-item">
    <div class="patent-main">
      <div class="patent-title">针对文本分类模型的黑盒模型反演攻击方法及装置</div>
      <div class="patent-inv"><span data-i18n="pat_inv_label">发明人：</span>高莹，谢雨欣，邓煌昊，朱祖坤，陈凌一</div>
      <div class="patent-no"><span data-i18n="pat_no_label">专利号</span> CN119783761B ｜ 2026.01.23</div>
    </div>
    <div class="patent-status status-granted" data-i18n="status_granted">已授权</div>
  </li>
  <li class="patent-item">
    <div class="patent-main">
      <div class="patent-title">针对大模型训练场景下的隐私风险评估方法</div>
      <div class="patent-inv"><span data-i18n="pat_inv_label">发明人：</span>高莹，陈凌一，邓煌昊，朱祖坤</div>
      <div class="patent-no"><span data-i18n="pat_no_label">专利号</span> CN121413016A ｜ 2026.01.27</div>
    </div>
    <div class="patent-status status-review" data-i18n="status_review">已进入实质审查</div>
  </li>
  <li class="patent-item">
    <div class="patent-main">
      <div class="patent-title">基于身份隐私保护和经济激励的去中心化联邦学习方法</div>
      <div class="patent-inv"><span data-i18n="pat_inv_label">发明人：</span>高莹，邓煌昊，朱祖坤，陈晓峰，谢雨欣</div>
      <div class="patent-no"><span data-i18n="pat_no_label">专利号</span> CN119312879A ｜ 2025.01.14</div>
    </div>
    <div class="patent-status status-review" data-i18n="status_review">已进入实质审查</div>
  </li>
  <li class="patent-item">
    <div class="patent-main">
      <div class="patent-title">针对大模型训练场景的安全及隐私风险评估系统 V1.0</div>
      <div class="patent-inv"><span data-i18n="pat_owner_label">著作权人：</span>集体著作权人（北京航空航天大学）</div>
      <div class="patent-no"><span data-i18n="pat_reg_label">登记号</span> 2025SR0306506 ｜ 待填</div>
    </div>
    <div class="patent-status status-granted" data-i18n="status_issued">已发放</div>
  </li>
  <li class="patent-item">
    <div class="patent-main">
      <div class="patent-title">基于智能推荐算法的全生态宠物社区平台 V1.0</div>
      <div class="patent-inv"><span data-i18n="pat_inv_label">发明人：</span>文雨轩，蔡明生，朱祖坤，周子航，王润翔，易嘉伟</div>
      <div class="patent-no"><span data-i18n="pat_reg_label">登记号</span> 2022SR1186820 ｜ 2022.06.17</div>
    </div>
    <div class="patent-status status-granted" data-i18n="status_issued">已发放</div>
  </li>
</ul>
